body {
    background-color: #f5f5f5;
    font-family: Cambria, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b4f91;  /* darker blue */
    color: white;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

footer {
    background-color: #e6e6e6;
    color: #111;
    text-align: center;
    padding: 15px;
}

.content-section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}


#intro {
    border-left: 5px solid #3498db;
}

#tips {
    border-left: 5px solid #27ae60;
}

.highlight-text {
    color: #0d3b66;
    font-weight: bold;
}

.flex-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.skip-link {
    position: absolute;
    left: -999px;
}

.skip-link:focus {
    left: 10px;
    top: 10px;
    background: black;
    color: white;
    padding: 8px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {

    body {
        font-size: 14px;
    }

    .flex-container {
        flex-direction: column;
    }

    header {
        padding: 10px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.subtitle {
    font-size: 18px;
    margin-top: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #0d3b66;
}

a:hover {
    text-decoration: underline;
}
